/*
 * Payments Direct API
 * Use the Payments Direct API to get quotes, create and manage payments, and manage originator and beneficiary identities.  ## API environments  The Payments Direct API offers the following environments:  | <div style=\"width:90px\">Environment</div>  | Base URL                      | Description                               | | ------------------------------------------ | ----------------------------- | ----------------------------------------- | | UAT                                       | `https://api.test.ripple.com` | UAT environment with simulated currency. | | Production                                 | `https://api.ripple.com`      | Production environment                    |  ## API authentication  All {{process.env.VAR_RPD}} API operations require a Bearer access token specific to the environment you're using. Ripple provides a secure model for authentication and authorization by providing access tokens scoped for a set of credentials.  ### Generate client ID and client secret  You will need your _client ID_ and _client secret_ to obtain an access token.  If you do not already have your client ID and client secret, do the following:  1. Log into the Ripple Payments UI. 2. In the left navigation menu, click **Settings**. 3. Under **Administration**, click **API Credentials**. 4. In the dropdown list next to the page title, select the access environment. For example, to provision credentials for the test environment, select **UAT** from the dropdown list. 5. In the upper right corner of the page, click **New Credential**. 6. Click **Save and Generate Key**.  **Caution:** The *client secret* is displayed only once when you are creating new credentials. You cannot retrieve the secret after exiting this page. Copy and store the client secret securely and share it with authorized individuals in accordance with your organization's security policy.  You can now use the client ID and client secret to generate access tokens using the [Request an access token](/api-docs/payments-direct-api/reference/#operation/authenticate) operation.  ### Request an access token  To get an access token, use the [Request an access token](/products/payments-direct-2/api-docs/payments-direct-api/payments-direct-2-api/authentication/authenticate) operation with your `client_id` and `client_secret`. The response contains a token in the `access_token` field.  We recommend rotating your API credentials at regular intervals according to your organization's security policy.  **Note**: Authentication tokens are not a fixed length and can vary, avoid validating tokens based on character length. 
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ripple.payments.direct.api;

import com.fasterxml.jackson.core.type.TypeReference;

import com.ripple.payments.direct.ApiException;
import com.ripple.payments.direct.ApiClient;
import com.ripple.payments.direct.BaseApi;
import com.ripple.payments.direct.Configuration;
import com.ripple.payments.direct.Pair;

import com.ripple.payments.direct.model.CreateFinancialInstrumentResponseDTO;
import com.ripple.payments.direct.model.CreateIdentityRequestV3DTO;
import com.ripple.payments.direct.model.CreateIdentityResponseV3DTO;
import com.ripple.payments.direct.model.ErrorResponseDTO;
import com.ripple.payments.direct.model.GetFinancialInstrumentResponseDTO;
import com.ripple.payments.direct.model.GetIdentityResponseV3DTO;
import com.ripple.payments.direct.model.ListFinancialInstrumentsResponseDTO;
import com.ripple.payments.direct.model.ListIdentitiesResponseV3DTO;
import com.ripple.payments.direct.model.PutIdentityRequestV3DTO;
import com.ripple.payments.direct.model.PutRippleFinancialInstrumentDTO;
import com.ripple.payments.direct.model.RippleFinancialInstrumentDTO;
import com.ripple.payments.direct.model.UpdateFinancialInstrumentResponseDTO;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.13.0")
public class IdentitiesV3Api extends BaseApi {

  public IdentitiesV3Api() {
    super(Configuration.getDefaultApiClient());
  }

  public IdentitiesV3Api(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Add a financial instrument (v3)
   * Create a financial instrument for the specified identity. The request body must include the payment rail (financialInstrumentType), currency or asset code, and the rail-specific details (for example, US ACH account numbers or a wallet address). In the current release, each identity can have **one** financial instrument. Future releases will support multiple instruments per identity. 
   * @param identityId Unique identifier of the identity that will own the financial instrument. (required)
   * @param rippleFinancialInstrumentDTO  (required)
   * @return CreateFinancialInstrumentResponseDTO
   * @throws ApiException if fails to make API call
   */
  public CreateFinancialInstrumentResponseDTO createFinancialInstrument(@javax.annotation.Nonnull String identityId, @javax.annotation.Nonnull RippleFinancialInstrumentDTO rippleFinancialInstrumentDTO) throws ApiException {
    return this.createFinancialInstrument(identityId, rippleFinancialInstrumentDTO, Collections.emptyMap());
  }


  /**
   * Add a financial instrument (v3)
   * Create a financial instrument for the specified identity. The request body must include the payment rail (financialInstrumentType), currency or asset code, and the rail-specific details (for example, US ACH account numbers or a wallet address). In the current release, each identity can have **one** financial instrument. Future releases will support multiple instruments per identity. 
   * @param identityId Unique identifier of the identity that will own the financial instrument. (required)
   * @param rippleFinancialInstrumentDTO  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return CreateFinancialInstrumentResponseDTO
   * @throws ApiException if fails to make API call
   */
  public CreateFinancialInstrumentResponseDTO createFinancialInstrument(@javax.annotation.Nonnull String identityId, @javax.annotation.Nonnull RippleFinancialInstrumentDTO rippleFinancialInstrumentDTO, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = rippleFinancialInstrumentDTO;
    
    // verify the required parameter 'identityId' is set
    if (identityId == null) {
      throw new ApiException(400, "Missing the required parameter 'identityId' when calling createFinancialInstrument");
    }
    
    // verify the required parameter 'rippleFinancialInstrumentDTO' is set
    if (rippleFinancialInstrumentDTO == null) {
      throw new ApiException(400, "Missing the required parameter 'rippleFinancialInstrumentDTO' when calling createFinancialInstrument");
    }
    
    // create path and map variables
    String localVarPath = "/v3/identities/{identity-id}/financial-instruments"
      .replaceAll("\\{" + "identity-id" + "\\}", apiClient.escapeString(apiClient.parameterToString(identityId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<CreateFinancialInstrumentResponseDTO> localVarReturnType = new TypeReference<CreateFinancialInstrumentResponseDTO>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Create an identity (v3)
   * Create a new payment identity as an ORIGINATOR or BENEFICIARY for either an INDIVIDUAL or BUSINESS. The request body must follow the v3 identity schema and will be validated against corridor rules where applicable. On success, the API returns the new identityId and its initial version. 
   * @param createIdentityRequestV3DTO  (required)
   * @return CreateIdentityResponseV3DTO
   * @throws ApiException if fails to make API call
   */
  public CreateIdentityResponseV3DTO createIdentity(@javax.annotation.Nonnull CreateIdentityRequestV3DTO createIdentityRequestV3DTO) throws ApiException {
    return this.createIdentity(createIdentityRequestV3DTO, Collections.emptyMap());
  }


  /**
   * Create an identity (v3)
   * Create a new payment identity as an ORIGINATOR or BENEFICIARY for either an INDIVIDUAL or BUSINESS. The request body must follow the v3 identity schema and will be validated against corridor rules where applicable. On success, the API returns the new identityId and its initial version. 
   * @param createIdentityRequestV3DTO  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return CreateIdentityResponseV3DTO
   * @throws ApiException if fails to make API call
   */
  public CreateIdentityResponseV3DTO createIdentity(@javax.annotation.Nonnull CreateIdentityRequestV3DTO createIdentityRequestV3DTO, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = createIdentityRequestV3DTO;
    
    // verify the required parameter 'createIdentityRequestV3DTO' is set
    if (createIdentityRequestV3DTO == null) {
      throw new ApiException(400, "Missing the required parameter 'createIdentityRequestV3DTO' when calling createIdentity");
    }
    
    // create path and map variables
    String localVarPath = "/v3/identities";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<CreateIdentityResponseV3DTO> localVarReturnType = new TypeReference<CreateIdentityResponseV3DTO>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Deactivate a Financial Instrument (v3)
   * Deactivate a financial instrument of an Identity. Deactivation is permanent and prevents further use in payments. Historical versions remain available for audit. 
   * @param identityId The unique ID of the identity. (required)
   * @param financialInstrumentId The ID of the financial instrument to deactivate. (required)
   * @throws ApiException if fails to make API call
   */
  public void deactivateFinancialInstrumentV3(@javax.annotation.Nonnull String identityId, @javax.annotation.Nonnull String financialInstrumentId) throws ApiException {
    this.deactivateFinancialInstrumentV3(identityId, financialInstrumentId, Collections.emptyMap());
  }


  /**
   * Deactivate a Financial Instrument (v3)
   * Deactivate a financial instrument of an Identity. Deactivation is permanent and prevents further use in payments. Historical versions remain available for audit. 
   * @param identityId The unique ID of the identity. (required)
   * @param financialInstrumentId The ID of the financial instrument to deactivate. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void deactivateFinancialInstrumentV3(@javax.annotation.Nonnull String identityId, @javax.annotation.Nonnull String financialInstrumentId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'identityId' is set
    if (identityId == null) {
      throw new ApiException(400, "Missing the required parameter 'identityId' when calling deactivateFinancialInstrumentV3");
    }
    
    // verify the required parameter 'financialInstrumentId' is set
    if (financialInstrumentId == null) {
      throw new ApiException(400, "Missing the required parameter 'financialInstrumentId' when calling deactivateFinancialInstrumentV3");
    }
    
    // create path and map variables
    String localVarPath = "/v3/identities/{identity-id}/financial-instruments/{financial-instrument-id}"
      .replaceAll("\\{" + "identity-id" + "\\}", apiClient.escapeString(apiClient.parameterToString(identityId)))
      .replaceAll("\\{" + "financial-instrument-id" + "\\}", apiClient.escapeString(apiClient.parameterToString(financialInstrumentId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Deactivate an identity (v3)
   * Deactivate an identity and its financial instruments. Deactivation is permanent and prevents further use in payments. Historical versions remain available for audit. 
   * @param identityId ID of the identity to deactivate. (required)
   * @throws ApiException if fails to make API call
   */
  public void deactivateIdentityV3(@javax.annotation.Nonnull String identityId) throws ApiException {
    this.deactivateIdentityV3(identityId, Collections.emptyMap());
  }


  /**
   * Deactivate an identity (v3)
   * Deactivate an identity and its financial instruments. Deactivation is permanent and prevents further use in payments. Historical versions remain available for audit. 
   * @param identityId ID of the identity to deactivate. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void deactivateIdentityV3(@javax.annotation.Nonnull String identityId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'identityId' is set
    if (identityId == null) {
      throw new ApiException(400, "Missing the required parameter 'identityId' when calling deactivateIdentityV3");
    }
    
    // create path and map variables
    String localVarPath = "/v3/identities/{identity-id}"
      .replaceAll("\\{" + "identity-id" + "\\}", apiClient.escapeString(apiClient.parameterToString(identityId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Get a financial instrument by ID (v3)
   * Retrieves one financial instrument associated with the specified identity. In the current release, one instrument is retrieved at most because only a single instrument is allowed per identity. 
   * @param identityId Unique identifier of the identity whose instruments you want to list. (required)
   * @param financialInstrumentId The ID of the financial instrument of the identity. (required)
   * @param version Version of the identity (optional)
   * @param expandIdentity Optional parameter to expand the financial instrument details. If set to true, the details about the identity will be included in the response.  (optional)
   * @return GetFinancialInstrumentResponseDTO
   * @throws ApiException if fails to make API call
   */
  public GetFinancialInstrumentResponseDTO getFinancialInstrumentById(@javax.annotation.Nonnull String identityId, @javax.annotation.Nonnull String financialInstrumentId, @javax.annotation.Nullable String version, @javax.annotation.Nullable Boolean expandIdentity) throws ApiException {
    return this.getFinancialInstrumentById(identityId, financialInstrumentId, version, expandIdentity, Collections.emptyMap());
  }


  /**
   * Get a financial instrument by ID (v3)
   * Retrieves one financial instrument associated with the specified identity. In the current release, one instrument is retrieved at most because only a single instrument is allowed per identity. 
   * @param identityId Unique identifier of the identity whose instruments you want to list. (required)
   * @param financialInstrumentId The ID of the financial instrument of the identity. (required)
   * @param version Version of the identity (optional)
   * @param expandIdentity Optional parameter to expand the financial instrument details. If set to true, the details about the identity will be included in the response.  (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return GetFinancialInstrumentResponseDTO
   * @throws ApiException if fails to make API call
   */
  public GetFinancialInstrumentResponseDTO getFinancialInstrumentById(@javax.annotation.Nonnull String identityId, @javax.annotation.Nonnull String financialInstrumentId, @javax.annotation.Nullable String version, @javax.annotation.Nullable Boolean expandIdentity, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'identityId' is set
    if (identityId == null) {
      throw new ApiException(400, "Missing the required parameter 'identityId' when calling getFinancialInstrumentById");
    }
    
    // verify the required parameter 'financialInstrumentId' is set
    if (financialInstrumentId == null) {
      throw new ApiException(400, "Missing the required parameter 'financialInstrumentId' when calling getFinancialInstrumentById");
    }
    
    // create path and map variables
    String localVarPath = "/v3/identities/{identity-id}/financial-instruments/{financial-instrument-id}"
      .replaceAll("\\{" + "identity-id" + "\\}", apiClient.escapeString(apiClient.parameterToString(identityId)))
      .replaceAll("\\{" + "financial-instrument-id" + "\\}", apiClient.escapeString(apiClient.parameterToString(financialInstrumentId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("version", version));
    localVarQueryParams.addAll(apiClient.parameterToPair("expand-identity", expandIdentity));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<GetFinancialInstrumentResponseDTO> localVarReturnType = new TypeReference<GetFinancialInstrumentResponseDTO>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get a list of financial instruments of the identity (v3)
   * List financial instruments for an identity.
   * @param identityId Unique UUID string that maps to an identity (required)
   * @param version Version of the identity (optional)
   * @param nextToken The token to use for the next page of results. If provided, the API will return financial instruments after this token. (optional)
   * @param limit The maximum number of financial instruments to return. Default is 10, maximum is 100. (optional, default to 10)
   * @return ListFinancialInstrumentsResponseDTO
   * @throws ApiException if fails to make API call
   */
  public ListFinancialInstrumentsResponseDTO getFinancialInstruments(@javax.annotation.Nonnull String identityId, @javax.annotation.Nullable String version, @javax.annotation.Nullable String nextToken, @javax.annotation.Nullable Integer limit) throws ApiException {
    return this.getFinancialInstruments(identityId, version, nextToken, limit, Collections.emptyMap());
  }


  /**
   * Get a list of financial instruments of the identity (v3)
   * List financial instruments for an identity.
   * @param identityId Unique UUID string that maps to an identity (required)
   * @param version Version of the identity (optional)
   * @param nextToken The token to use for the next page of results. If provided, the API will return financial instruments after this token. (optional)
   * @param limit The maximum number of financial instruments to return. Default is 10, maximum is 100. (optional, default to 10)
   * @param additionalHeaders additionalHeaders for this call
   * @return ListFinancialInstrumentsResponseDTO
   * @throws ApiException if fails to make API call
   */
  public ListFinancialInstrumentsResponseDTO getFinancialInstruments(@javax.annotation.Nonnull String identityId, @javax.annotation.Nullable String version, @javax.annotation.Nullable String nextToken, @javax.annotation.Nullable Integer limit, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'identityId' is set
    if (identityId == null) {
      throw new ApiException(400, "Missing the required parameter 'identityId' when calling getFinancialInstruments");
    }
    
    // create path and map variables
    String localVarPath = "/v3/identities/{identity-id}/financial-instruments"
      .replaceAll("\\{" + "identity-id" + "\\}", apiClient.escapeString(apiClient.parameterToString(identityId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("version", version));
    localVarQueryParams.addAll(apiClient.parameterToPair("next-token", nextToken));
    localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<ListFinancialInstrumentsResponseDTO> localVarReturnType = new TypeReference<ListFinancialInstrumentsResponseDTO>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get a list of identities (v3)
   * Retrieve identities for your tenant with optional filters. Use &#x60;limit&#x60; and &#x60;next-token&#x60; for pagination. The response includes a &#x60;data&#x60; array and an optional &#x60;nextToken&#x60;. 
   * @param paymentRole Filter by payment role. (optional)
   * @param nickName Filter by nickname. (optional)
   * @param limit Maximum number of identities to return. Default value is 10, maximum is 100. (optional, default to 10)
   * @param nextToken Opaque token to fetch the next page of results. (optional)
   * @return ListIdentitiesResponseV3DTO
   * @throws ApiException if fails to make API call
   */
  public ListIdentitiesResponseV3DTO getIdentities(@javax.annotation.Nullable String paymentRole, @javax.annotation.Nullable String nickName, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable String nextToken) throws ApiException {
    return this.getIdentities(paymentRole, nickName, limit, nextToken, Collections.emptyMap());
  }


  /**
   * Get a list of identities (v3)
   * Retrieve identities for your tenant with optional filters. Use &#x60;limit&#x60; and &#x60;next-token&#x60; for pagination. The response includes a &#x60;data&#x60; array and an optional &#x60;nextToken&#x60;. 
   * @param paymentRole Filter by payment role. (optional)
   * @param nickName Filter by nickname. (optional)
   * @param limit Maximum number of identities to return. Default value is 10, maximum is 100. (optional, default to 10)
   * @param nextToken Opaque token to fetch the next page of results. (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return ListIdentitiesResponseV3DTO
   * @throws ApiException if fails to make API call
   */
  public ListIdentitiesResponseV3DTO getIdentities(@javax.annotation.Nullable String paymentRole, @javax.annotation.Nullable String nickName, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable String nextToken, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/v3/identities";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("payment-role", paymentRole));
    localVarQueryParams.addAll(apiClient.parameterToPair("nick-name", nickName));
    localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
    localVarQueryParams.addAll(apiClient.parameterToPair("next-token", nextToken));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<ListIdentitiesResponseV3DTO> localVarReturnType = new TypeReference<ListIdentitiesResponseV3DTO>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get an identity by ID (v3)
   * Retrieve a specific identity by ID. If &#x60;version&#x60; is not provided, the latest version is returned. 
   * @param identityId The ID of the identity to retrieve. (required)
   * @param version Specific version to retrieve. If omitted, returns the latest version. (optional)
   * @return GetIdentityResponseV3DTO
   * @throws ApiException if fails to make API call
   */
  public GetIdentityResponseV3DTO getIdentityById(@javax.annotation.Nonnull String identityId, @javax.annotation.Nullable String version) throws ApiException {
    return this.getIdentityById(identityId, version, Collections.emptyMap());
  }


  /**
   * Get an identity by ID (v3)
   * Retrieve a specific identity by ID. If &#x60;version&#x60; is not provided, the latest version is returned. 
   * @param identityId The ID of the identity to retrieve. (required)
   * @param version Specific version to retrieve. If omitted, returns the latest version. (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return GetIdentityResponseV3DTO
   * @throws ApiException if fails to make API call
   */
  public GetIdentityResponseV3DTO getIdentityById(@javax.annotation.Nonnull String identityId, @javax.annotation.Nullable String version, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'identityId' is set
    if (identityId == null) {
      throw new ApiException(400, "Missing the required parameter 'identityId' when calling getIdentityById");
    }
    
    // create path and map variables
    String localVarPath = "/v3/identities/{identity-id}"
      .replaceAll("\\{" + "identity-id" + "\\}", apiClient.escapeString(apiClient.parameterToString(identityId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("version", version));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<GetIdentityResponseV3DTO> localVarReturnType = new TypeReference<GetIdentityResponseV3DTO>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Update a financial instrument (v3)
   * Update editable fields of a financial instrument including rail-specific details and labels. The financialInstrumentType is immutable after creation. 
   * @param identityId The unique ID of the identity. (required)
   * @param financialInstrumentId The ID of the financial instrument to update. (required)
   * @param putRippleFinancialInstrumentDTO  (required)
   * @return UpdateFinancialInstrumentResponseDTO
   * @throws ApiException if fails to make API call
   */
  public UpdateFinancialInstrumentResponseDTO putFinancialInstrument(@javax.annotation.Nonnull String identityId, @javax.annotation.Nonnull String financialInstrumentId, @javax.annotation.Nonnull PutRippleFinancialInstrumentDTO putRippleFinancialInstrumentDTO) throws ApiException {
    return this.putFinancialInstrument(identityId, financialInstrumentId, putRippleFinancialInstrumentDTO, Collections.emptyMap());
  }


  /**
   * Update a financial instrument (v3)
   * Update editable fields of a financial instrument including rail-specific details and labels. The financialInstrumentType is immutable after creation. 
   * @param identityId The unique ID of the identity. (required)
   * @param financialInstrumentId The ID of the financial instrument to update. (required)
   * @param putRippleFinancialInstrumentDTO  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return UpdateFinancialInstrumentResponseDTO
   * @throws ApiException if fails to make API call
   */
  public UpdateFinancialInstrumentResponseDTO putFinancialInstrument(@javax.annotation.Nonnull String identityId, @javax.annotation.Nonnull String financialInstrumentId, @javax.annotation.Nonnull PutRippleFinancialInstrumentDTO putRippleFinancialInstrumentDTO, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = putRippleFinancialInstrumentDTO;
    
    // verify the required parameter 'identityId' is set
    if (identityId == null) {
      throw new ApiException(400, "Missing the required parameter 'identityId' when calling putFinancialInstrument");
    }
    
    // verify the required parameter 'financialInstrumentId' is set
    if (financialInstrumentId == null) {
      throw new ApiException(400, "Missing the required parameter 'financialInstrumentId' when calling putFinancialInstrument");
    }
    
    // verify the required parameter 'putRippleFinancialInstrumentDTO' is set
    if (putRippleFinancialInstrumentDTO == null) {
      throw new ApiException(400, "Missing the required parameter 'putRippleFinancialInstrumentDTO' when calling putFinancialInstrument");
    }
    
    // create path and map variables
    String localVarPath = "/v3/identities/{identity-id}/financial-instruments/{financial-instrument-id}"
      .replaceAll("\\{" + "identity-id" + "\\}", apiClient.escapeString(apiClient.parameterToString(identityId)))
      .replaceAll("\\{" + "financial-instrument-id" + "\\}", apiClient.escapeString(apiClient.parameterToString(financialInstrumentId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<UpdateFinancialInstrumentResponseDTO> localVarReturnType = new TypeReference<UpdateFinancialInstrumentResponseDTO>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "PUT",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Update an identity (v3)
   * Update all fields of an existing identity. Supports updates to PII fields and metadata. Each successful PUT creates a new version and preserves prior versions for audit. 
   * @param identityId The ID of the identity to update. (required)
   * @param putIdentityRequestV3DTO  (required)
   * @return GetIdentityResponseV3DTO
   * @throws ApiException if fails to make API call
   */
  public GetIdentityResponseV3DTO putIdentity(@javax.annotation.Nonnull String identityId, @javax.annotation.Nonnull PutIdentityRequestV3DTO putIdentityRequestV3DTO) throws ApiException {
    return this.putIdentity(identityId, putIdentityRequestV3DTO, Collections.emptyMap());
  }


  /**
   * Update an identity (v3)
   * Update all fields of an existing identity. Supports updates to PII fields and metadata. Each successful PUT creates a new version and preserves prior versions for audit. 
   * @param identityId The ID of the identity to update. (required)
   * @param putIdentityRequestV3DTO  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return GetIdentityResponseV3DTO
   * @throws ApiException if fails to make API call
   */
  public GetIdentityResponseV3DTO putIdentity(@javax.annotation.Nonnull String identityId, @javax.annotation.Nonnull PutIdentityRequestV3DTO putIdentityRequestV3DTO, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = putIdentityRequestV3DTO;
    
    // verify the required parameter 'identityId' is set
    if (identityId == null) {
      throw new ApiException(400, "Missing the required parameter 'identityId' when calling putIdentity");
    }
    
    // verify the required parameter 'putIdentityRequestV3DTO' is set
    if (putIdentityRequestV3DTO == null) {
      throw new ApiException(400, "Missing the required parameter 'putIdentityRequestV3DTO' when calling putIdentity");
    }
    
    // create path and map variables
    String localVarPath = "/v3/identities/{identity-id}"
      .replaceAll("\\{" + "identity-id" + "\\}", apiClient.escapeString(apiClient.parameterToString(identityId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<GetIdentityResponseV3DTO> localVarReturnType = new TypeReference<GetIdentityResponseV3DTO>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "PUT",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
