/*
 * Payments Direct API
 * Use the Payments Direct API to get quotes, create and manage payments, and manage originator and beneficiary identities.  ## API environments  The Payments Direct API offers the following environments:  | <div style=\"width:90px\">Environment</div>  | Base URL                      | Description                               | | ------------------------------------------ | ----------------------------- | ----------------------------------------- | | UAT                                       | `https://api.test.ripple.com` | UAT environment with simulated currency. | | Production                                 | `https://api.ripple.com`      | Production environment                    |  ## API authentication  All {% $env.PUBLIC_VAR_RPD %} API operations require a Bearer access token specific to the environment you're using. Ripple provides a secure model for authentication and authorization by providing access tokens scoped for a set of credentials.  ### Generate client ID and client secret  You will need your _client ID_ and _client secret_ to obtain an access token.  If you do not already have your client ID and client secret, do the following:  1. Log into the Ripple Payments UI. 2. In the left navigation menu, click **Settings**. 3. Under **Administration**, click **API Credentials**. 4. In the dropdown list next to the page title, select the access environment. For example, to provision credentials for the test environment, select **UAT** from the dropdown list. 5. In the upper right corner of the page, click **New Credential**. 6. Click **Save and Generate Key**.  **Caution:** The *client secret* is displayed only once when you are creating new credentials. You cannot retrieve the secret after exiting this page. Copy and store the client secret securely and share it with authorized individuals in accordance with your organization's security policy.  You can now use the client ID and client secret to generate access tokens using the [Request an access token](/products/payments-direct-2/api-docs/payments-direct-api/payments-direct-2-api/authentication/authenticate) operation.  ### Request an access token  To get an access token, use the [Request an access token](/products/payments-direct-2/api-docs/payments-direct-api/payments-direct-2-api/authentication/authenticate) operation with your `client_id` and `client_secret`. The response contains a token in the `access_token` field.  We recommend rotating your API credentials at regular intervals according to your organization's security policy.  **Note**: Authentication tokens are not a fixed length and can vary, avoid validating tokens based on character length. 
 *
 * The version of the OpenAPI document: 2026.04
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ripple.payments.direct.api;

import com.fasterxml.jackson.core.type.TypeReference;

import com.ripple.payments.direct.ApiException;
import com.ripple.payments.direct.ApiClient;
import com.ripple.payments.direct.BaseApi;
import com.ripple.payments.direct.Configuration;
import com.ripple.payments.direct.Pair;

import com.ripple.payments.direct.model.PaymentErrorResponseDTO;
import com.ripple.payments.direct.model.PaymentRequestV2DTO;
import com.ripple.payments.direct.model.PaymentV2DTO;
import com.ripple.payments.direct.model.PaymentWithDetailsV2DTO;
import com.ripple.payments.direct.model.PaymentsResponseV2DTO;
import com.ripple.payments.direct.model.SearchPaymentsRequestV2DTO;
import com.ripple.payments.direct.model.StateTransitionsResponseV2DTO;
import java.util.UUID;
import com.ripple.payments.direct.model.UpdatePaymentLabelsRequestDTO;
import com.ripple.payments.direct.model.UpdatePaymentLabelsResponseDTO;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.13.0")
public class PaymentsV2Api extends BaseApi {

  public PaymentsV2Api() {
    super(Configuration.getDefaultApiClient());
  }

  public PaymentsV2Api(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Create payment V2
   * Create a payment  **Tutorial**  * Learn how to [Create a payment](/products/payments-direct-2/api-docs/tutorials/create-a-payment/). 
   * @param paymentRequestV2DTO create payment request (required)
   * @return PaymentV2DTO
   * @throws ApiException if fails to make API call
   */
  public PaymentV2DTO createPaymentV2(@javax.annotation.Nonnull PaymentRequestV2DTO paymentRequestV2DTO) throws ApiException {
    return this.createPaymentV2(paymentRequestV2DTO, Collections.emptyMap());
  }


  /**
   * Create payment V2
   * Create a payment  **Tutorial**  * Learn how to [Create a payment](/products/payments-direct-2/api-docs/tutorials/create-a-payment/). 
   * @param paymentRequestV2DTO create payment request (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return PaymentV2DTO
   * @throws ApiException if fails to make API call
   */
  public PaymentV2DTO createPaymentV2(@javax.annotation.Nonnull PaymentRequestV2DTO paymentRequestV2DTO, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = paymentRequestV2DTO;
    
    // verify the required parameter 'paymentRequestV2DTO' is set
    if (paymentRequestV2DTO == null) {
      throw new ApiException(400, "Missing the required parameter 'paymentRequestV2DTO' when calling createPaymentV2");
    }
    
    // create path and map variables
    String localVarPath = "/v3/payments";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<PaymentV2DTO> localVarReturnType = new TypeReference<PaymentV2DTO>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get a payment by ID V2
   * Gets a payment by ID.
   * @param paymentId Unique identifier of the payment to get. (required)
   * @return PaymentWithDetailsV2DTO
   * @throws ApiException if fails to make API call
   */
  public PaymentWithDetailsV2DTO getPaymentByIdV2(@javax.annotation.Nonnull UUID paymentId) throws ApiException {
    return this.getPaymentByIdV2(paymentId, Collections.emptyMap());
  }


  /**
   * Get a payment by ID V2
   * Gets a payment by ID.
   * @param paymentId Unique identifier of the payment to get. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return PaymentWithDetailsV2DTO
   * @throws ApiException if fails to make API call
   */
  public PaymentWithDetailsV2DTO getPaymentByIdV2(@javax.annotation.Nonnull UUID paymentId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'paymentId' is set
    if (paymentId == null) {
      throw new ApiException(400, "Missing the required parameter 'paymentId' when calling getPaymentByIdV2");
    }
    
    // create path and map variables
    String localVarPath = "/v3/payments/{paymentId}"
      .replaceAll("\\{" + "paymentId" + "\\}", apiClient.escapeString(apiClient.parameterToString(paymentId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<PaymentWithDetailsV2DTO> localVarReturnType = new TypeReference<PaymentWithDetailsV2DTO>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get state transitions by payment ID
   * Gets the state transitions for a payment by ID.
   * @param paymentId Unique identifier of the payment for which you want to get state transition information. (required)
   * @return StateTransitionsResponseV2DTO
   * @throws ApiException if fails to make API call
   */
  public StateTransitionsResponseV2DTO getPaymentStateTransitionsByIdV2(@javax.annotation.Nonnull UUID paymentId) throws ApiException {
    return this.getPaymentStateTransitionsByIdV2(paymentId, Collections.emptyMap());
  }


  /**
   * Get state transitions by payment ID
   * Gets the state transitions for a payment by ID.
   * @param paymentId Unique identifier of the payment for which you want to get state transition information. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return StateTransitionsResponseV2DTO
   * @throws ApiException if fails to make API call
   */
  public StateTransitionsResponseV2DTO getPaymentStateTransitionsByIdV2(@javax.annotation.Nonnull UUID paymentId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'paymentId' is set
    if (paymentId == null) {
      throw new ApiException(400, "Missing the required parameter 'paymentId' when calling getPaymentStateTransitionsByIdV2");
    }
    
    // create path and map variables
    String localVarPath = "/v3/payments/{paymentId}/states"
      .replaceAll("\\{" + "paymentId" + "\\}", apiClient.escapeString(apiClient.parameterToString(paymentId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<StateTransitionsResponseV2DTO> localVarReturnType = new TypeReference<StateTransitionsResponseV2DTO>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Search payments V2
   * Search for payments based on filtering criteria.
   * @param searchPaymentsRequestV2DTO Search payments request (required)
   * @return PaymentsResponseV2DTO
   * @throws ApiException if fails to make API call
   */
  public PaymentsResponseV2DTO searchPaymentsV2(@javax.annotation.Nonnull SearchPaymentsRequestV2DTO searchPaymentsRequestV2DTO) throws ApiException {
    return this.searchPaymentsV2(searchPaymentsRequestV2DTO, Collections.emptyMap());
  }


  /**
   * Search payments V2
   * Search for payments based on filtering criteria.
   * @param searchPaymentsRequestV2DTO Search payments request (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return PaymentsResponseV2DTO
   * @throws ApiException if fails to make API call
   */
  public PaymentsResponseV2DTO searchPaymentsV2(@javax.annotation.Nonnull SearchPaymentsRequestV2DTO searchPaymentsRequestV2DTO, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = searchPaymentsRequestV2DTO;
    
    // verify the required parameter 'searchPaymentsRequestV2DTO' is set
    if (searchPaymentsRequestV2DTO == null) {
      throw new ApiException(400, "Missing the required parameter 'searchPaymentsRequestV2DTO' when calling searchPaymentsV2");
    }
    
    // create path and map variables
    String localVarPath = "/v3/payments/filter";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<PaymentsResponseV2DTO> localVarReturnType = new TypeReference<PaymentsResponseV2DTO>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Update payment labels
   * Add or remove labels for a payment.
   * @param paymentId The unique ID that identifies the payment for which you want to update labels. (required)
   * @param updatePaymentLabelsRequestDTO Labels to add to or remove from the payment. (required)
   * @return UpdatePaymentLabelsResponseDTO
   * @throws ApiException if fails to make API call
   */
  public UpdatePaymentLabelsResponseDTO updatePaymentLabelsV2(@javax.annotation.Nonnull UUID paymentId, @javax.annotation.Nonnull UpdatePaymentLabelsRequestDTO updatePaymentLabelsRequestDTO) throws ApiException {
    return this.updatePaymentLabelsV2(paymentId, updatePaymentLabelsRequestDTO, Collections.emptyMap());
  }


  /**
   * Update payment labels
   * Add or remove labels for a payment.
   * @param paymentId The unique ID that identifies the payment for which you want to update labels. (required)
   * @param updatePaymentLabelsRequestDTO Labels to add to or remove from the payment. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return UpdatePaymentLabelsResponseDTO
   * @throws ApiException if fails to make API call
   */
  public UpdatePaymentLabelsResponseDTO updatePaymentLabelsV2(@javax.annotation.Nonnull UUID paymentId, @javax.annotation.Nonnull UpdatePaymentLabelsRequestDTO updatePaymentLabelsRequestDTO, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = updatePaymentLabelsRequestDTO;
    
    // verify the required parameter 'paymentId' is set
    if (paymentId == null) {
      throw new ApiException(400, "Missing the required parameter 'paymentId' when calling updatePaymentLabelsV2");
    }
    
    // verify the required parameter 'updatePaymentLabelsRequestDTO' is set
    if (updatePaymentLabelsRequestDTO == null) {
      throw new ApiException(400, "Missing the required parameter 'updatePaymentLabelsRequestDTO' when calling updatePaymentLabelsV2");
    }
    
    // create path and map variables
    String localVarPath = "/v3/payments/{paymentId}/labels"
      .replaceAll("\\{" + "paymentId" + "\\}", apiClient.escapeString(apiClient.parameterToString(paymentId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<UpdatePaymentLabelsResponseDTO> localVarReturnType = new TypeReference<UpdatePaymentLabelsResponseDTO>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "PATCH",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
