/*
 * Payments Direct API
 * Use the Payments Direct API to get quotes, create and manage payments, and manage originator and beneficiary identities.  ## API environments  The Payments Direct API offers the following environments:  | <div style=\"width:90px\">Environment</div>  | Base URL                      | Description                               | | ------------------------------------------ | ----------------------------- | ----------------------------------------- | | UAT                                       | `https://api.test.ripple.com` | UAT environment with simulated currency. | | Production                                 | `https://api.ripple.com`      | Production environment                    |  ## API authentication  All {% $env.PUBLIC_VAR_RPD %} API operations require a Bearer access token specific to the environment you're using. Ripple provides a secure model for authentication and authorization by providing access tokens scoped for a set of credentials.  ### Generate client ID and client secret  You will need your _client ID_ and _client secret_ to obtain an access token.  If you do not already have your client ID and client secret, do the following:  1. Log into the Ripple Payments UI. 2. In the left navigation menu, click **Settings**. 3. Under **Administration**, click **API Credentials**. 4. In the dropdown list next to the page title, select the access environment. For example, to provision credentials for the test environment, select **UAT** from the dropdown list. 5. In the upper right corner of the page, click **New Credential**. 6. Click **Save and Generate Key**.  **Caution:** The *client secret* is displayed only once when you are creating new credentials. You cannot retrieve the secret after exiting this page. Copy and store the client secret securely and share it with authorized individuals in accordance with your organization's security policy.  You can now use the client ID and client secret to generate access tokens using the [Request an access token](/products/payments-direct-2/api-docs/payments-direct-api/payments-direct-2-api/authentication/authenticate) operation.  ### Request an access token  To get an access token, use the [Request an access token](/products/payments-direct-2/api-docs/payments-direct-api/payments-direct-2-api/authentication/authenticate) operation with your `client_id` and `client_secret`. The response contains a token in the `access_token` field.  We recommend rotating your API credentials at regular intervals according to your organization's security policy.  **Note**: Authentication tokens are not a fixed length and can vary, avoid validating tokens based on character length. 
 *
 * The version of the OpenAPI document: 2026.04
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ripple.payments.direct.api;

import com.fasterxml.jackson.core.type.TypeReference;

import com.ripple.payments.direct.ApiException;
import com.ripple.payments.direct.ApiClient;
import com.ripple.payments.direct.BaseApi;
import com.ripple.payments.direct.Configuration;
import com.ripple.payments.direct.Pair;

import com.ripple.payments.direct.model.QuoteCollectionRequestV2DTO;
import com.ripple.payments.direct.model.QuoteCollectionV2DTO;
import com.ripple.payments.direct.model.QuoteErrorResponseDTO;
import com.ripple.payments.direct.model.QuoteV2DTO;
import java.util.UUID;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.13.0")
public class QuoteApi extends BaseApi {

  public QuoteApi() {
    super(Configuration.getDefaultApiClient());
  }

  public QuoteApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Create quote collection
   * Create a quote collection to preview the cost and terms of a proposed payment before initiating it.  **What&#39;s new in v3:** - &#x60;payoutCategory&#x60; and &#x60;destinationBlockchainNetwork&#x60; are no longer accepted in requests. - &#x60;paymentRail&#x60; is added as an optional field in the request to allow filtering quotes by a specific payment rail. When paymentRail is not passed, quotes will be returned for all supported payment rails.   **Tutorials** - &#x60;paymentRail&#x60; is added as an optional field in the request to allow filtering quotes by a specific payment rail. When paymentRail is not passed, quotes will be returned for all supported payment rails. For a list of supported values, see [Payment rail reference](/products/payments-direct-2/api-docs/integration-resources/payment-rail-reference). 
   * @param quoteCollectionRequestV2DTO Create quote collection request (required)
   * @return QuoteCollectionV2DTO
   * @throws ApiException if fails to make API call
   */
  public QuoteCollectionV2DTO createQuoteCollectionV2(@javax.annotation.Nonnull QuoteCollectionRequestV2DTO quoteCollectionRequestV2DTO) throws ApiException {
    return this.createQuoteCollectionV2(quoteCollectionRequestV2DTO, Collections.emptyMap());
  }


  /**
   * Create quote collection
   * Create a quote collection to preview the cost and terms of a proposed payment before initiating it.  **What&#39;s new in v3:** - &#x60;payoutCategory&#x60; and &#x60;destinationBlockchainNetwork&#x60; are no longer accepted in requests. - &#x60;paymentRail&#x60; is added as an optional field in the request to allow filtering quotes by a specific payment rail. When paymentRail is not passed, quotes will be returned for all supported payment rails.   **Tutorials** - &#x60;paymentRail&#x60; is added as an optional field in the request to allow filtering quotes by a specific payment rail. When paymentRail is not passed, quotes will be returned for all supported payment rails. For a list of supported values, see [Payment rail reference](/products/payments-direct-2/api-docs/integration-resources/payment-rail-reference). 
   * @param quoteCollectionRequestV2DTO Create quote collection request (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return QuoteCollectionV2DTO
   * @throws ApiException if fails to make API call
   */
  public QuoteCollectionV2DTO createQuoteCollectionV2(@javax.annotation.Nonnull QuoteCollectionRequestV2DTO quoteCollectionRequestV2DTO, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = quoteCollectionRequestV2DTO;
    
    // verify the required parameter 'quoteCollectionRequestV2DTO' is set
    if (quoteCollectionRequestV2DTO == null) {
      throw new ApiException(400, "Missing the required parameter 'quoteCollectionRequestV2DTO' when calling createQuoteCollectionV2");
    }
    
    // create path and map variables
    String localVarPath = "/v3/quotes/quote-collection";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<QuoteCollectionV2DTO> localVarReturnType = new TypeReference<QuoteCollectionV2DTO>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get quote collection
   * Retrieve a previously created quote collection by its unique identifier.  Use this endpoint to check the status of quotes (ACTIVE or EXPIRED) and retrieve quote details needed for payment creation. 
   * @param quoteCollectionId The unique identifier of the quote collection you want to retrieve (required)
   * @return QuoteCollectionV2DTO
   * @throws ApiException if fails to make API call
   */
  public QuoteCollectionV2DTO getQuoteCollectionV2(@javax.annotation.Nonnull UUID quoteCollectionId) throws ApiException {
    return this.getQuoteCollectionV2(quoteCollectionId, Collections.emptyMap());
  }


  /**
   * Get quote collection
   * Retrieve a previously created quote collection by its unique identifier.  Use this endpoint to check the status of quotes (ACTIVE or EXPIRED) and retrieve quote details needed for payment creation. 
   * @param quoteCollectionId The unique identifier of the quote collection you want to retrieve (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return QuoteCollectionV2DTO
   * @throws ApiException if fails to make API call
   */
  public QuoteCollectionV2DTO getQuoteCollectionV2(@javax.annotation.Nonnull UUID quoteCollectionId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'quoteCollectionId' is set
    if (quoteCollectionId == null) {
      throw new ApiException(400, "Missing the required parameter 'quoteCollectionId' when calling getQuoteCollectionV2");
    }
    
    // create path and map variables
    String localVarPath = "/v3/quotes/quote-collection/{quote-collection-id}"
      .replaceAll("\\{" + "quote-collection-id" + "\\}", apiClient.escapeString(apiClient.parameterToString(quoteCollectionId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<QuoteCollectionV2DTO> localVarReturnType = new TypeReference<QuoteCollectionV2DTO>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get a quote
   * Retrieve a specific quote by its unique identifier.  Use this endpoint to: - Verify quote details before creating a payment - Check if a quote is still active (not expired) - Retrieve the &#x60;quoteId&#x60; needed for payment creation  **Note:** Quotes expire after a defined period. Check the &#x60;quoteStatus&#x60; field to confirm the quote is &#x60;ACTIVE&#x60; before using it to create a payment. 
   * @param quoteId The unique identifier of the quote to retrieve (required)
   * @return QuoteV2DTO
   * @throws ApiException if fails to make API call
   */
  public QuoteV2DTO getQuoteV2(@javax.annotation.Nonnull UUID quoteId) throws ApiException {
    return this.getQuoteV2(quoteId, Collections.emptyMap());
  }


  /**
   * Get a quote
   * Retrieve a specific quote by its unique identifier.  Use this endpoint to: - Verify quote details before creating a payment - Check if a quote is still active (not expired) - Retrieve the &#x60;quoteId&#x60; needed for payment creation  **Note:** Quotes expire after a defined period. Check the &#x60;quoteStatus&#x60; field to confirm the quote is &#x60;ACTIVE&#x60; before using it to create a payment. 
   * @param quoteId The unique identifier of the quote to retrieve (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return QuoteV2DTO
   * @throws ApiException if fails to make API call
   */
  public QuoteV2DTO getQuoteV2(@javax.annotation.Nonnull UUID quoteId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'quoteId' is set
    if (quoteId == null) {
      throw new ApiException(400, "Missing the required parameter 'quoteId' when calling getQuoteV2");
    }
    
    // create path and map variables
    String localVarPath = "/v3/quotes/{quote-id}"
      .replaceAll("\\{" + "quote-id" + "\\}", apiClient.escapeString(apiClient.parameterToString(quoteId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<QuoteV2DTO> localVarReturnType = new TypeReference<QuoteV2DTO>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
